body {
  margin: 0;

 font-family: 'Open Sans', sans-serif;

 background: linear-gradient(180deg, rgba(126, 222, 147, 0) 82.08%, rgba(153, 235, 215, 0.38) 100%);

 min-height: 100vh;
 
}

.page {
  width: 1280px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

 a {
  color: #1f1534;
  text-decoration: none;
}

ul li a{
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1,ul {
  font-family: 'Mulish', sans-serif;
}

main{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

h1{
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  font-weight: normal;

  width: 490px;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

 section p {
  font-size: 14px;
  line-height: 28px;
  color:#7D7987;

  margin: 40px 0;
}

button {
  color:white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background: #69B99D;
  border: 0;
   padding: 14px 32px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 6px;

  cursor: pointer;
}

button:hover {
  background: #5ea98f;

}

footer{
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  margin: 80px;
}

footer a {
 font-weight: bold;
}

#balls {
 position: fixed;
 bottom: 0;
 right: 0;
}